@font-face {
  font-family: 'MinecraftiaRegular';
  src: url('@font-face/MinecraftiaRegular.eot');
  src: url('@font-face/MinecraftiaRegular.eot?#iefix') format('embedded-opentype'), 
       url('@font-face/MinecraftiaRegular.woff') format('woff'), 
       url('@font-face/MinecraftiaRegular.ttf')  format('truetype'), 
       url('@font-face/MinecraftiaRegular.svg#svgFontName') format('svg'); 
}
*{
	padding: 0;
	margin: 0;
	font-family: 'MinecraftiaRegular';
	font-weight: normal;
  font-style: normal;
}
body {
  background-image: url("dirt2.jpg");
  background-repeat: repeat;
  min-height: 100vh;
  overflow: auto;  
}
a{
  text-decoration: none;
  color: black;
}


header{
  display: block;
  z-index: 3;
  position: fixed;
  top: 0;
  width: 100%;
}
header div{
   width: 100%;
}
header h1 a img{
  position: absolute;
  height: 30vh;
  width: auto;
  top: -12.3vh;
  right: 50%;
  transform: translate(50%, 0%);

  transition: top 0.5s;
} 

header h1 a img:hover{
  top: -8vh;
} 

/*header nav{
  position: absolute;
  top: 0;
  right: 0;
  width: auto; 
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  border: solid;
  border-width: 5px;
  border-radius: 0 0 0 1ex;
  border-color: black;
  background-color: white; 
  overflow: hidden;
}
header nav ul{ 
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-decoration: none;
  list-style: none;
  word-spacing: -1ex; 
  font-size: 20px;
  
}
header nav ul li{  
  padding: 1.5ex 0 1.5ex 0;
}
header nav ul li a{  
  padding: 1.5ex 4ex;
}
header nav ul li:hover a{
  background-color: rgb(213, 216, 220);
}*/

header nav div{
  position: absolute;
  top: 0;
  width: 6cm;
  background-color: white;
  border: solid;
  /*border-top: none;*/
  border-width: 6px;
  font-size: 15pt;
  text-align: center;  
}

header nav div a{
  display: block;
  text-align: center;
  padding: 1ex;
}
header nav div a:hover{
  background-color: lightgray;
}

.left_div{
  left: 0;
  /*border-left: none;*/
}
.right_div{
  right: 0;
  /*border-right: none;*/
}

.left_div ul{
  left: 0;  
}
.right_div ul{
  right: 0;
}

/*nav div ul{ 
  list-style: none;
  display: block;   
  background-color: white; 
  color:white; 
  position: absolute; 
  top: -10ex;
  width: 12vw;  
  z-index: 5;
  transition: top 1s;
}

nav div:hover ul{ 
  top: 4.9ex;
}*/


/*.left_div ul li a{
  border-left: 0;  
}
.right_div ul li a{
  border-right: none;
}*/


nav div li a{
  border-color: black;
  border: solid;
  border-width: 6px;
  border-top: none;
}



/*#loader{
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: white;
  padding: 0.7ex;
  font-size: 36pt;
  transform: translate(-50%, -50%);
  border: solid;
  border-width: 5px;

  z-index: 1001;
}*/



footer{
  display: block;   
  position: fixed;
  bottom: 0;
  padding: 0;
  width: 100%;

  text-align: center;
  border-top: solid;
  border-width: 6px;
  border-color: black;

  background-color: white;
  z-index: 100;
}


::-webkit-scrollbar {
  width: 25px;
  border: solid;
  border-width: 4px;
  background-color: gray;
}
::-webkit-scrollbar-thumb {
  background: white;
  border: solid;
  border-width: 4px;
  border-color: black;
}