.flex{
	display: flex;
	position: relative;
	flex-direction: row;
	height: 100vh;
	min-width: min-content;
	justify-content: center;
	align-items: center;
}

.flex section{
	position: relative;
	display: block;
	margin: 7% 2% 0 2%;

	width: 60vh;
	min-width: 14cm;
	max-width: 20cm;
	height: 60vh;
	min-height: 14cm;
	border: solid;	
	border-width: 6px;

	overflow: hidden;

	transition: width 0.2s, height 0.2s, max-height 0.2s, max-width 0.2s;
}

.flex section:hover{
	width: 64vh;
	height: 64vh;
	max-width: 22cm;
}

.flex section h2{
	position: absolute;
	display: flex;
	width: 100%;	
	z-index: 4; 
	background-color: white;
	border-bottom: solid;
	border-width: 6px;
	justify-content: space-between;
}
/*.flex section h2:hover{
	display: block;
	width: 100%;	
	background-color: lightgray;
}*/

.flex section h2 a{
	display: block;
	position: relative;
	text-align: center;
	padding: 1ex;		
	width: 80%;
	border-radius: 0.5ex;
}
.flex section h2 img{
	display: block;
	padding: 1ex;
	position: relative;
	height: 38px;
	border-radius: 0.5ex;
}

.flex section h2 .aimg{
	display: block;
	position: relative;
	text-align: center;
	padding: 0;	
	height: 38px;	
	width: auto;
	border-radius: 0.5ex;
}

.flex section h2 a:hover{
	background-color: lightgray;
}
.flex section h2 img:hover{
	background-color: lightgray;
}

.left{
	left: 0;
}
.right{
	right: 0;
}

.flex section div{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.flex section div img{
	position: relative;
	height: 70vh;
	min-height: 14cm;
	width: auto;
	min-width: 100%;
	z-index: 1; 

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.flex section div video{
	display: none;
	position: absolute;
	height: 62vh;
	min-height: 14cm;
	width: auto;
	min-width: 100%;
	
	z-index: 2; 

	top: 50%;
	left: 55%;
	transform: translate(-50%, -50%);
}
.flex section:hover div video{
	display: block;
}

.flex section div p{
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;	
	text-align: center;
	padding: 1ex 0;
	z-index: 3;
	background-color: white;
	border-top: solid;
	border-width: 6px;
}


.flex section ul{	
	margin-top: 7ex;
	position: absolute;
	z-index: 3;
	list-style: none;
	border: solid;
	border-width: 5px;
	border-left: none;
	border-radius: 0 0 1ex 0;
	background-color: white;

	animation-name: drop;
	animation-duration: 0.3s;
}

.flex section ul li{
	display: block;
	padding: 1.8ex;	
	border-radius: 1ex;
}

.flex section ul li:hover{
	background-color: lightgray;
}

.flex section ul li img{
	display: block;
	height: 40px;
}


@keyframes drop {
	from {top: -50%;}
	to {top: 0;}
}


#mymodel{
	display: block;
	position: absolute;
	height: 70vh;
	min-height: 14cm;
	width: auto;
	min-width: 100%;
	z-index: 2; 

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}